<div id="game-container"></div>
      
<script id="handle-script-id" src="<%= ASSET_HOST %>/widget/js/game1.js"></script>
<script>
	initSpin({
		game_id: <%= GAME_ID %>,
		player_id: PLAYER_ID, // Inject your player ID here
		submit_url: '/api/add-player', // Inject your submit URL
		contract_address: '<%= SMART_CONSTRACT_ADDR %>'
	})
</script>