<div id="game-container"></div>
      
<script id="handle-script-id" src="<%= ASSET_HOST %>/widget/js/game1.js"></script>
<script>
	initSpin({
		game_id: <%= GAME_ID %>,
		player_id: 2,
		submit_url: 'https://my-submit-url',
		contract_address: '<%= SMART_CONSTRACT_ADDR %>'
	})
</script>